{% extends "base.html" %}

{% block content %}
  <h1>Credits</h1>
  <table class="table ">
    <thead>
      <tr>
        <th>Client</th>
        <th>Bank</th>
        <th>Credit Term</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for credit in object_list %}
        <tr>
          <td>{{ credit.client.full_name }}</td>
          <td>{{ credit.bank.name }}</td>
          <td>{{ credit.credit_term }}</td>
          <td>
            <a class="btn btn-sm btn-primary" role="button" href="{% url 'credit_detail' pk=credit.pk %}">Detail</a>
            <a class="btn btn-sm btn-warning" role="button" href="{% url 'credit_update' pk=credit.pk %}">Update</a>
            <a class="btn btn-sm btn-danger" role="button" href="{% url 'credit_delete' pk=credit.pk %}">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No credits found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'credit_create' %}">Create a new credit</a>
{% endblock %}